{% set loopIndex = 1 %}
{%if divisible is not defined%}
{% set divisible = 4 %}
{% endif %}
{% if span is not defined %}
{% set span = 2 %}
{% endif %}
<ul class="thumbnails">
        {% for vendor in vendors %}
        {% if loopIndex is not divisibleby(divisible)  %}
        <li class="span2">
            <div class="thumbnail">
                <a href="{{ path('vendors', {'slug':vendor.slug}) }}" class="thumbnail">
                    <img src="{{ vendor.logo }}" alt="">
                </a>
                <div class="caption">
                    <a href="{{ path('vendors', {'slug':vendor.slug}) }}"><h6>{{ vendor.name}}</h6></a>
                </div>
            </div>
        </li>
            {% elseif loopIndex != 1 %}
    </ul>
    <ul class="thumbnails">
        {% endif %}
        {% set loopIndex = loopIndex + 1 %}
        {% endfor %}
            {% if loopIndex > 1 %}
        </ul>
        {% endif %}
