{% extends 'TrigSimpleShopBundle::layout.html.twig' %}
{% block content %}
<div class="row">
    <div class="row span4">
{% include 'TrigSimpleShopBundle::nav.cars.html.twig' with {'cars': cars } %}
        </div>
        <div style="text-align: justify" class="row span8">
            <h2 style="position:relative;left:-22px">Cars overview:</h2>
            <div class="row">
                <h3>{{randomCar.name}}</h3>
                <a href="{{ path('cars', {'slug':randomCar.slug}) }}"><button class="btn btn-warning">view details...</button></a>
                <hr />
                <img style="float:left;margin:10px 10px 0 0"src="{{ randomCar.image }}" />
                </h4>Short description:</h4>
                <p class="text-info">{{ randomCar.shortDescription }}</p>   
            </div>
            <div class="row">
                {% include 'TrigSimpleShopBundle::loop.cars.html.twig' with { 'cars':cars, 'divisible':5}%}
            </div>
        </div>
    </div>
{% endblock %}
