{% extends 'TrigSimpleShopBundle::layout.html.twig' %}
{% block login %}
<form class="navbar-form pull-right">
    <input class="span2" type="text" placeholder="Email">
    <input class="span2" type="password" placeholder="Password">
    <button type="submit" class="btn">Sign in</button>
</form>
{% endblock %}
{% block content %}{% endblock %}
